<div class="basket_list">

    {% if baskets %}

        <h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
            Корзина <span class="badge badge-secondary badge-pill">{{ final_quantity }}</span>
        </h4>
        <div class="card mb-3">
            {% for basket in baskets %}
                <div class="card-body">
                    <h5 class="card-title">{{ basket.product.name }}</h5>
                    <div style="width: 410px">
                        <img style="width: 200px; float: left" class="card-img-top" src="{{ basket.product.image.url }}"
                             alt="">
                        <p style="width: 200px; float: right" class="card-text">{{ basket.product.description }}</p>
                    </div>
                </div>
                <div class="text-center" style="background-color: lightgrey; height: 30px; justify-content: left">
                    <div style="font-size: 13px; display: inline-block; width: 20%">Кол-во</div>
                    <div style="font-size: 13px; display: inline-block; width: 30%">Цена за шт.</div>
                    <div style="font-size: 13px; display: inline-block; width: 30%">Цена за {{ basket.quantity }} шт.
                    </div>
                    <div style="font-size: 13px; display: inline-block; width: 10%"></div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-light">
                        <div class="row text-center">
                            <div style="justify-content: space-between">
                                <div style="display: inline-block; width: 20%" class="col-lg-4">
                                    <input style="font-size: 12px" name="{{ basket.id }}" type="number"
                                           class="form-control"
                                           value="{{ basket.quantity }}" min="1">
                                </div>
                                <div style="font-size: 13px; display: inline-block; width: 30%"> {{ basket.product.price }}
                                    руб.
                                </div>
                                <div style="font-size: 13px; display: inline-block; width: 30%"
                                     class="col-lg-4">{{ basket.sum }} руб.
                                </div>
                                <div style="display: inline-block; width: 10%" class="col-lg-4">
                                    <a href="{% url 'basket:basket_remove' basket.id %}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="card mb-3">
            <div class="card-footer">
                <p class="float-left">Итого</p>
                <h4 class="float-right">{{ final_sum }} руб.</h4>
            </div>
        </div>
        <button type="button" class="btn btn-success btn-lg float-right">Оформить</button>
    {% else %}
        <h4 class="mt-3 mb-3 text-center">
            Корзина пустая
        </h4>
    {% endif %}
</div>